<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldOfGeneticPlants.Properties.BaseWorld" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="World.Properties.BaseWorld" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="World.BaseWorld" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WorldObject.BaseWorldObject" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WorldObject.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldOfGeneticPlants.Properties.BaseWorld" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="World.Properties.BaseWorld" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="World.BaseWorld" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorldOfGeneticPlants.Properties.BaseWorld>
            <setting name="WorldHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WorldWidth" serializeAs="String">
                <value>50</value>
            </setting>
        </WorldOfGeneticPlants.Properties.BaseWorld>
        <World.Properties.BaseWorld>
            <setting name="WorldHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WorldWidth" serializeAs="String">
                <value>50</value>
            </setting>
        </World.Properties.BaseWorld>
        <World.BaseWorld>
            <setting name="WorldHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WorldWidth" serializeAs="String">
                <value>200</value>
            </setting>
        </World.BaseWorld>
    </applicationSettings>
    <userSettings>
        <WorldOfGeneticPlants.Properties.BaseWorld>
            <setting name="Plant_Lifelong" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BlockPlant_EnergyNewBlockPlant" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BlockPlant_EnergyConsumptionForTick" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BlockPlant_EnergyConsumptionForNewBlock" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Camera_Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="World_SunEnergyBase" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="World_SunEnergyModifierForLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="World_SunEnergyTakeLevels" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="World_Gravitation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Genocode_MaxGenes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Genocode_MutationsIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Genocode_FrequencyConditionalGene" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Genocode_PercentageMutations" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Genocode_MaxChromosome" serializeAs="String">
                <value>1</value>
            </setting>
        </WorldOfGeneticPlants.Properties.BaseWorld>
        <World.Properties.BaseWorld>
            <setting name="Plant_LifelongTick" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BlockPlant_EnergyNewBlockPlant" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="BlockPlant_EnergyConsumptionForTick" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BlockPlant_EnergyConsumptionForNewBlock" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Camera_Zoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="World_SunEnergyBase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="World_SunEnergyModifierForLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="World_SunEnergyTakeLevels" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="World_Gravitation" serializeAs="String">
                <value>0</value>
            </setting>
        </World.Properties.BaseWorld>
        <World.BaseWorld>
            <setting name="Lifelong" serializeAs="String">
                <value>100</value>
            </setting>
        </World.BaseWorld>
    </userSettings>
</configuration>